html {
    scroll-behavior: smooth;
}

body {
    margin: 30px;
    margin-top: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../images/grainyimage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

/*TOP NAVBAR*/
.header {
    padding: 20px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.topbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
}

/*HOME SECTION*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home h1 {
    font-size: 6rem;
    letter-spacing: 20px;
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    color: black;
    transition: opacity 0.5s ease;
}

.material-icons.arrow-down {
    font-size: 5rem;
    animation: bounce 3s ease-in-out infinite;
}

/* Bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(10px); 
    }
    60% {
        transform: translateY(5px);
    }
}

/*WELCOME SECTION*/
.welcome {
    padding: 40px 20px;
    text-align: center;
}

.welcome h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.welcome p {
    font-size: 1.3rem; /* Font size for the paragraphs */
    margin: 70px 0; /* Margin for spacing */
    max-width: 600px; /* Set a max width to control line breaks */
    line-height: 1.5; /* Adjust line height for readability */
    margin-left: auto; /* Center align */
    margin-right: auto; /* Center align */
}

.welcome .odd {
    text-align: left;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.welcome .even {
    text-align: right;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}


.info-link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
    transform: translateX(-230px);
}

.link-text {
    font-size: 1.3rem;
    text-decoration: underline;
}

.arrow {
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.info-link:hover .arrow {
    transform: translateX(5px);
}

/*MER INFORMASJONSSIDE*/
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 100vh;
}

.info h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.criteria-container {
    display: flex; /* Use flex layout */
    flex-direction: column; /* Stack boxes vertically */
    align-items: center; /* Center align boxes */
    gap: 40px; /* Space between boxes */
}

.criteria-container p {
    text-align: left;
}

.criterion-box {
    border: 2px solid #e2c7c73f; /* Box border */
    border-radius: 8px; /* Rounded corners */
    padding: 40px; /* Increased padding inside boxes */
    width: 50%; /* Set a width to utilize available space */
    max-width: 600px; /* Max width for boxes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    font-size: 1.2rem; /* Font size for text */
    transition: transform 0.3s ease; /* Transition effect on hover */
}

/* Alternating styles */
.criterion-box.odd {
    align-self: flex-start; /* Align odd boxes to the left */
    transform: translateX(-20px); /* Slightly move left */
}

.criterion-box.even {
    align-self: flex-end; /* Align even boxes to the right */
    transform: translateX(20px); /* Slightly move right */
}

.criterion-box:hover {
    transform: translateY(-5px);
}

.highlight {
    font-weight: bold;
    font-size: 1.3rem;
}

.date-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 100px;
}

.date-item {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid #333333;
    line-height: 1.3;
}

.info-text {
    margin-top: 40px;
    max-width: 800px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 20px;
    border: 3px solid #e2c7c73f;
    border-radius: 18px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #cccccc;
    padding: 8px 20px;
    font-size: 1.3rem;
    border-radius: 40px;
    /*transition: all 0.3s ease;*/
    
}

.button:hover {
    /*transform: scale(1.05);*/
}

.info-message {
    margin-top: 10px;
    font-size: 1rem;
    color: #333333;
    line-height: 1.4;
}

/*CONTACT*/
.contact {
    padding: 40px 20px;
    padding-top: 200px;
    text-align: center;
}

.contact h2 {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2rem;
    margin: 10px 0;
}

/*TILDELINGER*/
.tildelinger {
    padding: 50px 0px;
    text-align: center;
}

.tildelinger h1 {
    font-size: 3rem;
    margin-bottom: 70px;
    font-weight: 300;
}

.tildelinger-container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.tildelinger-image {
    flex: 1;
    max-width: 30%;
    height: auto;
    border-radius: 8px;
    margin-right: 50px;
}

.tildelinger-text {
    flex: 2;
    line-height: 1.6;
    width: 100%;
}

.tildelinger-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: left;
}

.tildelinger-text p {
    font-size: 1.3rem;
    margin-bottom: 40px;
    text-align:left
}

.odd {
    text-align: left;
}

.even {
    text-align: right;
    margin-left: 150px;
}

.tildelinger-text a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.tildelinger-text a:hover {
    text-decoration: underline;
}
