html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    margin-top: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5C5753  ;
    background-image: url('../images/grainyimage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

/*TOP NAVBAR*/
.header {
    margin-left: 30px;
    padding: 20px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.topbar a {
    color: #5C5753;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
}

/*HOME SECTION*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home h1 {
    font-size: 6rem;
    letter-spacing: 20px;
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    color: black;
    transition: opacity 0.5s ease;
}

.material-icons.arrow-down {
    font-size: 5rem;
    animation: bounce 3s ease-in-out infinite;
}

/* Bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(10px); 
    }
    60% {
        transform: translateY(5px);
    }
}

/*WELCOME SECTION*/
.welcome {
    padding: 40px 20px;
    text-align: center;
}

.welcome h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.welcome p {
    font-size: 1.3rem; /* Font size for the paragraphs */
    margin: 120px 0; /* Margin for spacing */
    max-width: 600px; /* Set a max width to control line breaks */
    line-height: 1.5; /* Adjust line height for readability */
    margin-left: auto; /* Center align */
    margin-right: auto; /* Center align */
}

.welcome p a {
    color: inherit;
    text-decoration: none;
}

.welcome p a:hover {
    opacity: 0.7;
}

.welcome .odd {
    text-align: left;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    opacity: 0;
}

.welcome .even {
    text-align: right;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    opacity: 0;
}


.info-link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #5C5753;
    text-decoration: none;
    transform: translateX(-230px);
}

.link-text {
    font-size: 1.3rem;
    text-decoration: underline;
}

.arrow {
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.info-link:hover .arrow {
    transform: translateX(5px);
}

/*MER INFORMASJONSSIDE*/
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #dda53b2f;
    max-width: 1400px;
    margin: 0 auto;
}

.info h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.criteria-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    width: 100%;
}


.criterion {
    padding: 20px;
    border: 1px solid #cfac84;
    border-radius: 8px;
    background: #dda53b2f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.highlight {
    font-weight: bold;
    font-size: 1.2rem;
}

.date-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 100px;
}

.date-item {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid #333333;
    line-height: 1.3;
}

.info-text {
    margin-top: 40px;
    max-width: 700px;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 20px;
    border: 3px solid #e2c7c73f;
    border-radius: 18px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #cccccc;
    padding: 8px 20px;
    font-size: 1.3rem;
    border-radius: 40px;
    /*transition: all 0.3s ease;*/
    
}

.button:hover {
    /*transform: scale(1.05);*/
}

.info-message {
    margin-top: 10px;
    font-size: 1rem;
    color: #333333;
    line-height: 1.4;
}

/*CONTACT*/
.contact {
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.contact h2 {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.rows {
    display: flex;
    justify-content: center;
}

.contact .contact-form {
    width: 800px; 
    margin: 0 auto; 
    margin-top: 50px;
}

.form-item {
    padding: 0 15px;
}

.col-6 {
    flex: 0 0 48%;
    max-width: 100%;
}

.contact .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.form-item {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid var(--bg-gray);
    padding: 10px 15px;
    font-size: 16px;
}

input.form-control {
    outline: none;
}
textarea.form-control {
    height: 140px;
    outline: none;
}

.btn {
    color: #5C5753;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    white-space: nowrap;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.contact .btn {
    height: 50px;
    padding: 0 50px;
}


/*TILDELINGER*/
.tildelinger {
    padding: 50px 0px;
    text-align: center;
}

.tildelinger h1 {
    font-size: 3rem;
    margin-bottom: 70px;
    font-weight: 300;
}

.tildelinger-container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}

.tildelinger-image {
    flex: 1;
    max-width: 30%;
    height: auto;
    border-radius: 8px;
    margin-right: 50px;
    align-self: center;
}

.tildelinger-text {
    flex: 2;
    line-height: 1.6;
    width: 100%;
}

.tildelinger-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: left;
}

.tildelinger-text p {
    font-size: 1.3rem;
    margin-bottom: 40px;
    text-align:left
}

.odd {
    text-align: left;
}

.even {
    text-align: right;
    margin-left: 150px;
}

.tildelinger-text a {
    color: #5C5753;
    text-decoration: none;
    font-weight: bold;
}
.tildelinger-text a:hover {
    text-decoration: underline;
}

.reverse .tildelinger-image{
    margin-left: 50px;
    margin-right: 0;
}

.reverse .tildelinger-text {
    text-align: right;
}

.reverse .odd {
    text-align: left;
}

.reverse .even {
    text-align: right;
    margin-left: 150px;
    margin-right: 50px;
}

/*RESPONSIVE FOR TABLET AND MOBILE*/
/* Responsive for Header */
@media (max-width: 768px) {
    .topbar a {
        font-size: 18px;
    }
}

/* Responsive for Home Section */
@media (max-width: 768px) {
    .home h1 {
        font-size: 3rem;
        letter-spacing: 5px;
    }
}

/* Responsive for Welcome Section */
@media (max-width: 768px) {
    .welcome h2 {
        font-size: 2rem;
    }

    .welcome p {
        font-size: 1rem;
        margin: 40px 0;
    }
}

/* Responsive for Contact Section */
@media (max-width: 768px) {
    .contact h2 {
        font-size: 2rem;
    }
    
    .contact .contact-form {
        width: 100%;
    }

    .form-control {
        height: 40px;
        font-size: 14px;
    }
}

/* Responsive for Tildelinger Section */
@media (max-width: 768px) {
    .tildelinger-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .tildelinger-image {
        display: none;
    }
}

/* General Responsive Styles */
@media (max-width: 768px) {
    .date-container {
        flex-direction: column;
        gap: 20px;
    }
    
    .button-container .button {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .info-link {
        transform: none;
    }
}